.content {
	background-color: aliceblue;
	height: 700 px;
}

.welcome {
	padding-left: 15px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome h1 {
	color: #283593;
}

.title {
	max-width: 500px;
}

.item {
	background-color: #072A40;
	box-shadow: 2px 10px 10px black;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	text-align: center;
	padding: 20px 20px;
	height: 300px;
	bottom: 0px;
}

.items {
	margin: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 50px;
}

.info {
	padding-top: 0px;
	margin: 30px;
	border-width: 1px;
	text-align: left;
}

.button {
	cursor: pointer;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete a {
	padding: 10px;
	text-align: center;
	background-color: #FF9694;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	border-width: 1px;
	margin: 10px;
}

.update a {
	padding: 10px 10px 10px 10px;
	text-align: center;
	background-color: #b19cd9;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	border-width: 1px;
	margin: 10px;
}

a {
	margin-right: 12px;
	color: white;
	text-decoration: none;
}

h2,
h1 {
	text-align: center;
}

.formu {
	margin-top: 100px;
	border: 1px solid black;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 50px;
	border-radius: 10px;
	flex-direction: column;
}

.formuA {
	margin-top: 100px;
	border: 1px solid black;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 50px;
	border-radius: 10px;
	flex-direction: column;
	margin-bottom: 160px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

form .button {
	padding: 10px;
	color: black;
}

.label {
	margin: 10px;
}

.label input {
	border-radius: 5px;
}

.formuA div h2 {
	color: black;
}

h2 {
	color: white;
}

label,
.formu h2 {
	color: Black;
}

span,
.message {
	color: red;
}